.pokemon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 20px;
  padding: 20px 20px;
  overflow: hidden;
}

.pokemon-container button {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}

.pokemon-container button:hover {
  color: #fff;
  background-color: #000;
}

.pokemon-container button:active {
  color: #000;
  background-color: #fff;
}

.pokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemon-data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 600px;
  background-color: #000;
  min-height: 2rem;
  height: 10rem;
  margin: 20px 0px;
}

.pokemon ul {
  display: inline-block;
}

.pokemon li {
  color: #fff;
}

.pokemon h2 {
  color: #fff;
}

.pokemon-img {
  width: 200px;
  align-items: center;
}
