todo.css input,
button {
  box-sizing: border-box;
}

.todo-content {
  order: 2;
  justify-content: center;
  align-items: center;
  margin: 20px 20px;
  padding: 20px 20px;
  overflow: hidden;
}

.todo-content h1 {
  color: #fff;
}

.todo-form {
  margin-bottom: 20px;
}

.todo-form input {
  padding: 1.5rem;
  border: 1px solid #666;
  border-radius: 3px;
  margin: 20px 0px;
}

.todo-form input[type="text"] {
  flex-grow: 1;
  margin-right: 0.5rem;
}

.todo-items {
  list-style-type: none;
  padding: 0;
  margin-bottom: 10rem;
}

.todo-item {
  padding: 1rem;
  margin: 1.5rem;
  border-radius: 3px;
  background-color: #fff;
  width: 30%;
  display: inline-block;
}

.todo-text {
  flex-grow: 1;
  text-align: center;
}
.todo-item .remove-button {
  font-size: 80%;
  float: right;
  border: 0;
  border-radius: 3px;
  color: #000;
  width: 1.5rem;
  text-align: center;
}
