.trivia-question {
  color: #fff;
}

.trivia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.trivia-content {
  display: flex;
  flex-direction: column;
  width: 30rem;
  background-color: magenta;
  margin: 20px 0px;
  padding: 15px;
}

.test {
  margin: 20px 0px;
}
